.header {
  box-sizing: border-box;
  display: flex;
  padding: 0 7.4%;
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  z-index: 9;

  @media (max-width: 1280px) {
    padding: 0 5%;
  }

  @media (max-width: 720px) {
    padding: 0 15px;
  }

  @media (max-width: 972px) {
    top: 20px;
  }  

  &__nav {
    transform: translateY(15%);

    @media (max-width: 972px) {
      display: none;
    }
  }  
}

.logo {
  font-size: 12.5px;
  width: 200px;
  z-index: 9;

  @media (max-width: 972px) {
    font-size: 9.5px;
    width: 150px;
  }

  @media (max-width: 720px) {
    font-size: 7.5px;
    width: 120px;
  }

  &__img {
    width: 100%;
  }

  &__link {
    color: white;
    text-decoration: none;
  }
}

.nav {

  &__item {
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    padding: 18px 33px;
    border-radius: 30px;
    transition: .2s;

    &_check {
      border: 1px solid #5489c3;
    }

    @media (max-width: 1440px) {
      padding: 10px 20px;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover {
      background: #5489c3;
    }

    &:active {
      color: gray;
      border: 1px solid gray;
    }
  }
}

