body {
  color: white;
  font-family: CeraRoundPro, sans-serif;
  width: 100%;
  height: 100%;
}

.main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10%;

  @media (max-width: 1280px) {
    padding: 0 5%;
  }

  @media (max-width: 720px) {
    padding: 0 10px;
  }
}
