.footer {
  background: #39649d;
  text-align: center;
  width: 100%;

  &__wrapper {
    border-bottom: 1px solid #335b91;
    display: flex;  
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1200px;
    padding: 63px 10px 60px 10px;
    width: 100%;
  }

  .logo {
    width: 170px;
  }

  & > div {
    padding-bottom: 30px;
  }

  
}

.development {
  color: white;

  &_color-red {
    color: #e70067;
  }
}