<section class="accept" id="accept">
  <div class="assept__wrapper">
    <h2 class="accept__title">Получите бесплатный доступ к «Дневнику здоровья»</h2>
  <p class="accept__text">Оставьте свою электронную почту<br><span>и вы узнаете о запуске данного сервиса первым!</span></p>
    
    <input type="text" name="email" placeholder="Ваш E-mail" class="email-field" id='email'>
    <button class="button" id="send-button">Отправить</button>

    <p class="send-result"></p>  
  </div>
  
</section>