<section class="functions">
  <h2 class="functions__title">Функции проиложения</h2>
  <div class="functions__wrap">
    <div class="functions__grid grid">
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/drugs.png" alt="" class="grid__pic">
        </div>        
        <p class="grid__subtitle">Планирование графика проиема лекарств</p>
      </div>
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/siren.png" alt="" class="grid__pic">          
        </div>
        <p class="grid__subtitle">Уведомление врача об исполнении назначения</p>      
      </div>
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/heart.png" alt="" class="grid__pic">
        </div>
        <p class="grid__subtitle">Ведение дневника самочувствия</p>
      </div>
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/watch.png" alt="" class="grid__pic">
        </div>
        <p class="grid__subtitle">Удаленное предоставление измерений врачу</p>
      </div>
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/conversation.png" alt="" class="grid__pic">
        </div>
        <p class="grid__subtitle">Общение с врачами через встроенный мессенджер</p>
      </div>
      <div class="grid__item">
        <div class="grid__img-wrap">
          <img src="images/spam.png" alt="" class="grid__pic">
        </div>
        <p class="grid__subtitle">Получение уведомлений для выполнеия назначений</p>
      </div>
    </div>
  </div>
</section>