<aside class="menu">
  <div class="menu__icon">
    <input type="checkbox"  id="menu__check">
    <label  for="menu__check" class="menu__label"></label>
    <div class="menu__icon-item"></div>
    <nav class="menu__navigation navigation">
      <a href="#remsmed" class="navigation__item">О сервисе</a>
      <a href="#function" class="navigation__item">Функции</a>
      <a href="#ofer" class="navigation__item">Возможности</a>
      <a href="#" class="navigation__item">Партнеры</a>
      <a href="#accept" class="navigation__item">Оставить заявку</a>
    </nav>
  </div>
</aside>