<section class="slider">
  <div class="slider__slide">
    <img src="images/bg.png" alt="M3-technology" class="slider__slide-img">
  </div>
  <div class="slider__box">
    <h1 class="slider__title">
      Расширяем возможность предоставления качественных медицинских услуг
    </h1>
    <p class="slider__text">
      «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья<span class="invisible">, разработанный для участников программы «Мое здоровье»</span>
    </p>
    <div class="slider__button button">Узнать больше</div>
  </div>
    
    
   
  
</section>