<section class="slider">
    <div class="slider__wrap-btn">
      <button class="slider__button button">Узнать больше</button>
    </div>
  <div class="slider__container">
    <div class="slider__content" id="sl1">
      <img src="images/bg1.png" alt="M3" class="slider__bg">
      <div class="slider__wrapper">
        <h1 class="slider__title">Расширяем возможности предоставления качественных медицинских услуг</h1>
        <p class="slider__text">«Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья<span class="text-hidden">, разработанный для участников программы «Мое здоровье»</span></p>
      </div>
    </div>
    <div class="slider__content" id="sl2">
      <img src="images/bg2.png" alt="M3" class="slider__bg">
      <div class="slider__wrapper">
        <h1 class="slider__title">Следить за здоровьем станет проще</h1>
        <p class="slider__text">Скоро Вы сможете находиться на связи со своим лечащим врачем независимо от своего местоположения<span class="text-hidden">, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения</span> и многое другое</p>
      </div>
    </div>
  </div>
  <div class="slider__marker">
    <div class="marker__item marker__item_left">
      <span class="marker__point marker__point_active" id="marker1"></span>
    </div>
    <div class="marker__item marker__item_right">
      <span class="marker__point" id="marker2"></span>
    </div>
  </div>
</section>